<br>
<p-table [columns]="cols" [value]="cars" selectionMode="single" [paginator]="true" [rows]="5">
<ng-template pTemplate="caption">
  List of Cars
</ng-template>
<ng-template pTemplate="header" let-columns>
    <tr>
        <th *ngFor="let col of columns">
            {{col.header}}
        </th>
        <th>
          Action
        </th>
    </tr>
</ng-template>
<ng-template pTemplate="body" let-rowData let-columns="columns">
    <tr [pSelectableRow]="rowData" >
        <td *ngFor="let col of columns">
            {{rowData[col.field]}}
        </td>
        <td>
            <button pButton type="button" icon="fa fa-check" label="Edit" class="ui-button-success"  
            (click)="getData(rowData)"></button>&nbsp;
            <button pButton type="button" icon="fa fa-close" label="Delete" class="ui-button-danger"
            (click)="delCar(rowData)"></button>
        </td>
      </tr>
</ng-template> 
</p-table>